.navbar-container {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navbar-title {
  margin: 0;
}

.navbar-title * {
  text-decoration: none;
  color: white;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.navbar-list-item {
  /* background-color: blue; */
  margin: 0;
  /* height: 100%; */
}

.navbar-list-item svg {
  /* text-align: center; */
}

.navbar-list-item a {
  /* background-color: blue; */
  padding: 10px;
  text-decoration: none;
  color: white;
}

.navbar-list-item a:hover {
  background-color: green;
  transition: background-color 200ms
}